*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



html{
    padding: 0;
}



header img{
    height:30px ;
    padding-right:20px ;
}

header{
    width: 100%;
    height: 70px;
    background: #0A0B27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:30px;
    position:fixed;
    z-index: 10;
}


.hamburger{
    display: none;
}

.navbar{
    width: 800px;
    height: 100%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    list-style-type: none;
}

.navbar a{
    text-decoration: none;
    color: white ;
}

.navbar a:hover{
    color: red;
}

.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-img{
    width: 100%;
    height:100vh;
    background: url("./images/hero-transformed.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-tag-line{
    width: 100%;
    height:100%;
    background:#ffff ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tag-line{
    height:90vh;
    width: 50%;
    background: #F09031;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    color:white ;
}
.tag-line h2{
    font-family: 'Times New Roman', Times, serif;
}

.hero-con{
    height:90vh;
    width: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding:100px 70px 100px 70px;
    font-size: 22px;
    overflow: hidden;
}

.tag-img{
    width: 100%;
    height:80vh;
    background: url("./images/footer-transformed.jpeg");
    background-size:cover;
    background-position: center;
}

.footer-links{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cont ul{
    list-style-type: none;
}

.cont li{
    padding: 6px;
}

.policy p{
    padding: 6px;
}

.addr p{
    padding: 6px;
}

.social-icons{
    font-size: 20px;
    padding-left: 2px;
    margin: 4px;
    display: flex;
    gap: 12px;
}

@media only screen and (max-width:1320px){
    header{
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (max-width:1320px){
    header{
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (max-width:900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .navbar{
        height: 0;
        position:absolute;
        top: 50px;
        left: 0;
        right: 0;
        width:100vw;
        background:#0A0B27;
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar.active{
        height: 450px;
    }

    .navbar ul{
        display:flex;
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        gap: 20px;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul li a{
        margin-bottom: 12px;
    }
}